extends ../../layouts/account

block head
  title Students's Area

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
  

  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  link(rel='stylesheet', href='/views/account/frontEnd/main.css')
  link(rel='stylesheet', href='/views/account/frontEnd/styles.css')


block feet
  script(src='http://localhost:3000/socket.io/socket.io.js')
  script(src='/views/account/index.js?#{cacheBreaker}')
  script(src='https://code.jquery.com/jquery-2.1.0.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

block body
  .content#content
        .row
          .col-md-6
            h3 Courses
            .courses
          .col-md-6
            span#coursename(contentEditable = 'false')
            .lectures
